ROV/ROV/commands/__pycache__/
ROV/ROV/prototype/__pycache__/
__pycache__

Common/Connections/.eggs
Common/Connections/build
Common/Connections/dist
Common/Connections/ROV_Connections.egg-info

Common/Messaging/build
Common/Messaging/dist
Common/Messaging/ROV_Messaging.egg-info
